<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>REAP</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
</head>

<nav th:fragment="navBar" class="navbar navbar-light bg-white navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="#">
        <img src="/images/reap-logo.png" height="30" class="d-inline-block align-top" alt="reap-logo">
    </a>
    <!-- Hide on screens smaller than lg -->
    <span class="navbar-text d-none d-lg-block">
    <span class="reap-text" style="color: #bd3fb4">reward.</span>
    <span class="reap-text" style="color: #004ba1">earn.</span>
    <span class="reap-text" style="color: #f03434">acknowledge.</span>
    <span class="reap-text" style="color: #eacb11">praise</span>
  </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span style="color: #fff;" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Back to Newers World</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="far fa-star"></i> Badges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="far fa-file-alt"></i> Certificate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="far fa-bell"></i> Notifications</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   href="#"
                   id="navbarDropdown"><i class="far fa-user-circle"></i></a>
                <div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="navbarDropdown">
                    <h5 class="text-center">Your Profile</h5>
                    <hr/>
                    <div class="row no-gutters">
                        <div class="col-md-4 text-center">
                            <i style="font-size: 5em;" class="far fa-user-circle"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <small>Name</small>
                                </div>
                                <div class="col-md-8" th:text="${user.firstName}+' '+${user.lastName}"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <small>Business Unit</small>
                                </div>
                                <div class="col-md-8">Technology</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <small>Region</small>
                                </div>
                                <div class="col-md-8">Ninjas</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <small>Email</small>
                                </div>
                                <div class="col-md-8" th:text="${user.email}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info btn-block">Guidelines</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger btn-block">Logout</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="footer">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</div>