<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="main" th:fragment="userTable" >
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="far fa-star"></i> Recognize Newer
                </div>
                <div class="card-body">

                    <!--recognition form-->
                    <form action="#" th:action="@{/recognizeNewer}" th:object="${recognition}" method="post" id="recognize" >
                        <input type="hidden" th:value="${user.getId()}" name="senderId" id="senderId"/>
                        <input type="hidden" th:value="${user.getFullName()}" name="senderName" id="senderName"/>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="far fa-user"></i></div>
                                    </div>
                                    <input type="text" class="form-control" required placeholder="Select a Newer" th:field="*{receiverName}">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <select class="form-control" required th:field="*{badge}">

                                    <option disabled selected value="">Select a Badge</option>

                                    <span th:if="${user.getGoldSharable() > 0}">
                                    <option data-thumbnail="/images/gold.png" value="gold">Gold
                                        <small th:text="'('+${user.getGoldSharable()}+')'"></small>
                                    </option>
                                    </span>

                                    <span th:if="${user.getSilverSharable() > 0}">
                                    <option data-thumbnail="/images/silver.png" value="silver">Silver
                                        <small th:text="'('+${user.getSilverSharable()}+')'"></small>
                                    </option>
                                    </span>

                                    <span th:if="${user.getBronzeSharable() > 0}">
                                    <option data-thumbnail="/images/bronze.png" value="bronze">Bronze
                                        <small th:text="'('+${user.getBronzeSharable()}+')'"></small>
                                    </option>
                                    </span>

                                </select>
                            </div>

                            <div class="col-md-3 mb-3">
                                <select class="form-control" required th:field="*{reason}">
                                    <option disabled selected value="">Select a Karma/Core Value</option>
                                    <option value="karma-customer-delight">Karma: Customer Delight</option>
                                    <option value="karma-extra-miler">Karma: Extra Miler</option>
                                    <option value="karma-knowledge-sharing">Karma: Knowledge Sharing</option>
                                    <option value="karma-mentorship">Karma: Mentorship</option>
                                    <option value="karma-pat-on-the-back">Karma: Pat on the Back</option>
                                    <option value="corevalue-continuous-learning-improvement">Core Value: Continuous Learning and Improvement
                                    </option>
                                    <option value="corevalue-contribution">Core Value: Contribution</option>
                                    <option value="corevalue-diligence">Core Value: Diligence</option>
                                    <option value="corevalue-empathy">Core Value: Empathy</option>
                                    <option value="corevalue-openness-feedback-change">Core Value: Openness to Feedback and Change</option>
                                    <option value="corevalue-responsible-freedom">Core Value: Responsible Freedom</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="reasonTextArea" style="font-weight: bold;">Comments</label>
                                <textarea rows="5" style="resize: none" class="form-control" id="reasonTextArea"
                                          placeholder="Please select a karma/core value first"
                                          required th:field="*{comment}"></textarea>
                                <small class="text-danger" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></small>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-4">
                                <button type="submit" class="btn-block btn btn-success">Recognize</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
            <!-- -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-trophy"></i> Wall of Fame
                    <form id="searchRecognition" style="display: inline-block" class="form-inline ml-4" th:object="${searchUser}" th:action="@{/searchRecogByName}">
                        <input type="hidden"  id="currentUserId" name="currentUserId" th:value="${user.getId()}">
                        <input type="text" id="searchUser" class="form-control form-control-sm"  placeholder="Search" th:field="*{fullName}">
                        <span>
                             <button id="searchRecognitionButton" class="btn btn-success btn-sm" type="button">Search</button>
                        </span>
                    </form>
                </div>

                <div style="display: none" id="recognitionResults"
                     class="alert alert-success fade show" role="alert">
                    <h4 class="alert-heading">Search results</h4>
                    <hr>
                    <div class="row newer-row align-items-center">
                        <div class="col-sm-2 text-center">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-sm-10" id="userdataDiv">
                            <p id="userdata"></p>
                        </div>
                    </div>
                    <p class="mb-0"></p>
                </div>


                <div  class="card-body" th:each="recognition: ${recognitions}">
                    <div class="row newer-row align-items-center">
                        <div class="col-sm-2 text-center">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-sm-10">
                            <p><strong th:text="${recognition.getReceiverName()}" id="receiverName"></strong>
                                has received a
                                <span th:if="${recognition.badge=='gold'}">
                                <img src="/images/gold.png">
                                </span>
                                <span th:if="${recognition.badge=='silver'}">
                                <img src="/images/silver.png">
                                </span>
                                <span th:if="${recognition.badge=='bronze'}">
                                <img src="/images/bronze.png">
                                </span>
                                from
                                <strong th:text="${recognition.getSenderName()}"></strong><br/>
                                for <em th:text="${recognition.getReason()}"></em><br/>
                                because <em th:text="${recognition.getComment()}"></em>
                            </p>
                            <small th:text="'On ' + ${recognition.getDate()}+' '+ ${recognition.getTime()}"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="far fa-star"></i> My Redeemable Badges
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-9">
                            <strong th:text="${user.firstName}+' '+${user.lastName}"></strong><br/>
                            <div class="row">
                                <div class="col-3">
                                    <img src="/images/gold.png">
                                    <small th:text="${user.getGoldRedeemable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/silver.png">
                                    <small th:text="${user.getSilverRedeemable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/bronze.png">
                                    <small th:text="${user.getBronzeRedeemable()}"></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <strong th:text="${user.getPoints()}"></strong>
                                    <strong> points</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="far fa-star"></i> My Sharable Badges
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-9">
                            <strong th:text="${user.firstName}+' '+${user.lastName}"></strong><br/>
                            <div class="row">
                                <div class="col-3">
                                    <img src="/images/gold.png">
                                    <small th:text="${user.getGoldSharable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/silver.png">
                                    <small th:text="${user.getSilverSharable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/bronze.png">
                                    <small th:text="${user.getBronzeSharable()}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="far fa-calendar-alt"></i> Newers Board
                    <span class="dropdown">
              <a href="#" role="button" id="dateDropdownLink" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                <i class="far fa-calendar-alt"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dateDropdownLink">
                <a class="dropdown-item" style="text-transform: initial;" href="#">Today</a>
                <a class="dropdown-item" style="text-transform: initial;" href="#">Yesterday</a>
                <a class="dropdown-item" style="text-transform: initial;" href="#">Last 7 days</a>
                <a class="dropdown-item" style="text-transform: initial;" href="#">Last 30 days</a>
              </div>
                             <button class="btn btn-success btn-sm" type="submit">Search</button>
            </span>



                </div>
                <div class="card-body" th:each="recognition:${recognitions}">
                    <div class="row newer-row justify-content-center">
                        <div class="col-3">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-9">
                            <strong th:text="${recognition.getReceiverName()}"></strong><br/>
                            <div class="row">
                                <div class="col-3">
                                    <img src="/images/gold.png">
                                    <small th:text="${recognition.getGoldRedeemable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/silver.png">
                                    <small th:text="${recognition.getSilverRedeemable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/bronze.png">
                                    <small th:text="${recognition.getBronzeRedeemable()}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>