<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="main" th:fragment="userTable" >
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="far fa-star"></i> Recognize Newer
                </div>
                <div class="card-body">

                    <!--recognition form-->
                    <form action="#" th:action="@{/recognizeNewer}" th:object="${recognition}" method="post" id="recognize">
                        <input type="hidden" th:value="${user.getId()}" name="senderId" id="senderId"/>
                        <input type="hidden" th:value="${user.getFullName()}" name="senderName" id="senderName"/>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="far fa-user"></i></div>
                                    </div>
                                    <input type="text" class="form-control" required placeholder="Select a Newer" th:field="*{receiverName}">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <select class="form-control" required th:field="*{badge}">

                                    <option disabled selected value="">Select a Badge</option>

                                    <span th:if="${user.getGoldSharable() > 0}">
                                    <option data-thumbnail="/images/gold.png" value="gold">Gold
                                        <small th:text="'('+${user.getGoldSharable()}+')'"></small>
                                    </option>
                                    </span>

                                    <span th:if="${user.getSilverSharable() > 0}">
                                    <option data-thumbnail="/images/silver.png" value="silver">Silver
                                        <small th:text="'('+${user.getSilverSharable()}+')'"></small>
                                    </option>
                                    </span>

                                    <span th:if="${user.getBronzeSharable() > 0}">
                                    <option data-thumbnail="/images/bronze.png" value="bronze">Bronze
                                        <small th:text="'('+${user.getBronzeSharable()}+')'"></small>
                                    </option>
                                    </span>

                                </select>
                            </div>

                            <div class="col-md-3 mb-3">
                                <select class="form-control" required th:field="*{reason}">
                                    <option disabled selected value="">Select a Karma/Core Value</option>
                                    <option value="karma-customer-delight">Karma: Customer Delight</option>
                                    <option value="karma-extra-miler">Karma: Extra Miler</option>
                                    <option value="karma-knowledge-sharing">Karma: Knowledge Sharing</option>
                                    <option value="karma-mentorship">Karma: Mentorship</option>
                                    <option value="karma-pat-on-the-back">Karma: Pat on the Back</option>
                                    <option value="corevalue-continuous-learning-improvement">Core Value: Continuous Learning and Improvement
                                    </option>
                                    <option value="corevalue-contribution">Core Value: Contribution</option>
                                    <option value="corevalue-diligence">Core Value: Diligence</option>
                                    <option value="corevalue-empathy">Core Value: Empathy</option>
                                    <option value="corevalue-openness-feedback-change">Core Value: Openness to Feedback and Change</option>
                                    <option value="corevalue-responsible-freedom">Core Value: Responsible Freedom</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="reasonTextArea" style="font-weight: bold;">Comments</label>
                                <textarea rows="5" style="resize: none" class="form-control" id="reasonTextArea"
                                          placeholder="Please select a karma/core value first"
                                          required th:field="*{comment}"></textarea>
                                <small class="text-danger" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></small>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-4">
                                <button type="submit" class="btn-block btn btn-success">Recognize</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
            <!-- -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-trophy"></i> Wall of Fame
                    <form style="display: inline-block" class="form-inline ml-4">
                        <input type="text" class="form-control form-control-sm" id="" placeholder="Search">
                        <select class="form-control form-control-sm">
                            <option disabled selected>Business Unit</option>
                            <option value="b2b-content-marketing">B2B Content Marketing</option>
                            <option value="digital-marketing-india">Digital Marketing India</option>
                            <option value="social-analytics">Social Analytics</option>
                            <option value="technology">Technology</option>
                            <option value="ttn-overheads">TTN Overheads</option>
                            <option value="ttnv">TTNV</option>
                            <option value="vdma">VDMA</option>
                            <option value="video-solutions">Video Solutions</option>
                        </select>
                        <select class="form-control form-control-sm">
                            <option disabled selected>Region</option>
                            <option value="admin">Admin</option>
                            <option value="aryans">Aryans</option>
                            <option value="cyborgs">Cyborgs</option>
                            <option value="digital-marketing">Digital Marketing</option>
                            <option value="finance">Finance</option>
                            <option value="human-resources">Human Resources</option>
                            <option value="it">IT</option>
                            <option value="managed-services">Managed Services</option>
                            <option value="management">Management</option>
                            <option value="ninjas">Ninjas</option>
                            <option value="non-tech-sales">Non-Tech Sales</option>
                            <option value="pre-sales">Pre-Sales</option>
                            <option value="social-analytics">Social Analytics</option>
                            <option value="spartans">Spartans</option>
                            <option value="tech-sales">Tech Sales</option>
                            <option value="titans">Titans</option>
                            <option value="ttn-marketing">TTN Marketing</option>
                            <option value="vanguardians">Vanguardians</option>
                            <option value="vikings">Vikings</option>
                            <option value="vof">VOF</option>
                        </select>
                        <span class="dropdown">
              <a href="#" role="button" id="dateDropdownLink" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                <i class="far fa-calendar-alt"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dateDropdownLink">
                <a class="dropdown-item" style="text-transform: initial;" href="#">Today</a>
                <a class="dropdown-item" style="text-transform: initial;" href="#">Yesterday</a>
                <a class="dropdown-item" style="text-transform: initial;" href="#">Last 7 days</a>
                <a class="dropdown-item" style="text-transform: initial;" href="#">Last 30 days</a>
              </div>
            </span>
                    </form>
                </div>
                <div class="card-body" th:each="recognition: ${recognitions}">
                    <div class="row newer-row align-items-center">
                        <div class="col-sm-2 text-center">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-sm-10">
                            <p><strong th:text="${recognition.getReceiverName()}"></strong>
                                has received a
                                <span th:if="${recognition.badge=='gold'}">
                                <img src="/images/gold.png">
                                </span>
                                <span th:if="${recognition.badge=='silver'}">
                                <img src="/images/silver.png">
                                </span>
                                <span th:if="${recognition.badge=='bronze'}">
                                <img src="/images/bronze.png">
                                </span>
                                from
                                <strong th:text="${recognition.getSenderName()}"></strong><br/>
                                for <em th:text="${recognition.getReason()}"></em><br/>
                                because <em th:text="${recognition.getComment()}"></em>
                            </p>
                            <small th:text="'On ' + ${recognition.getDate()}+' '+ ${recognition.getTime()}"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="far fa-star"></i> My Redeemable Badges
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-9">
                            <strong th:text="${user.firstName}+' '+${user.lastName}"></strong><br/>
                            <div class="row">
                                <div class="col-3">
                                    <img src="/images/gold.png">
                                    <small th:text="${user.getGoldRedeemable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/silver.png">
                                    <small th:text="${user.getSilverRedeemable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/bronze.png">
                                    <small th:text="${user.getBronzeRedeemable()}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <i class="far fa-calendar-alt"></i> Newers Board
                    <small style="text-transform: initial;">(last 7 days)</small>
                </div>
                <div class="card-body" th:each="recognition:${recognitions}">
                    <div class="row newer-row justify-content-center">
                        <div class="col-3">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-9">
                            <strong th:text="${recognition.getReceiverName()}"></strong><br/>
                            <div class="row">
                                <div class="col-3">
                                    <img src="/images/gold.png">
                                    <small>1</small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/silver.png">
                                    <small>0</small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/bronze.png">
                                    <small>0</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>