<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/MyFragments :: header"></head>
<body>
<div th:replace="fragments/MyFragments :: navBar"></div>
<div class="container" id="main">

    <div th:if="${orderSuccessfull}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong th:text="${orderSuccessfull}"></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <h1 class="display-4" th:text="'My redeemable points: ' + ${user.getPoints()}"></h1>
    <div class="table-responsive">
        <table class="text-center table table-light table-bordered">
            <thead>
            <tr class="card-header">
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Points worth</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody th:each="item: ${itemList}">
            <tr class="itemRow">
                <td><img class="img-fluid user-photo" th:src="${item.image}" style="height: 3em"/></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.points}"></td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <i class="far fa-minus-square"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${not #lists.isEmpty(itemList)}" class="m-auto col-md-6">
            <a href="/checkout" style="text-decoration: none;"><button class="btn btn-block btn-lg btn-success">Checkout</button></a>
        </div>
    </div>
</div>
<div th:replace="fragments/MyFragments :: footer"></div>
</body>
</html>