<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/MyFragments :: header">
<body>
<div th:replace="fragments/MyFragments :: navBar"></div>
<div class="container mx-auto my-5 p-4" style="background: #fff; width: 70%;">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab"
               aria-controls="nav-login" aria-selected="true">Login</a>
            <a class="nav-item nav-link" id="nav-signup-tab" data-toggle="tab" href="#nav-signup" role="tab"
               aria-controls="nav-signup" aria-selected="false">Sign up</a>
        </div>
    </nav>


    <div class="tab-content p-4" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">

           <!--login form-->
            <form>
                <div class="newer-row form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
                           autofocus>
                </div>

                <div class="newer-row form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <div class="newer-row">
                    <a href="#" class="small">Forgot password?</a>
                </div>
                <div class="newer-row">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Login</button>
                </div>
            </form>
            <!--login form-->
        </div>
        <div class="tab-pane fade" id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab">

            <!--registration form-->
            <form  th:action="@{/users}" th:object="${user}" method="post" enctype="multipart/form-data">
                <div class="newer-row form-label-group">
                    <input type="text" id="inputFirstName" class="form-control" placeholder="First name" required
                           autofocus th:field="*{firstName}">
                    <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                </div>

                <div class="newer-row form-label-group">
                    <input type="text" id="inputLastName" class="form-control" placeholder="Last name" required th:field="*{lastName}">
                    <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                </div>
                <div class="newer-row form-label-group">
                    <input type="email" id="inputEmailRegister" class="form-control" placeholder="Email address" required
                           autofocus th:field="*{email}">
                    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>

                <div class="newer-row form-label-group">
                    <input type="password" id="inputPasswordRegister" class="form-control" placeholder="Password" required th:field="*{password}" >
                </div>
                <div class="custom-file newer-row">
                    <input type="file" class="custom-file-input" id="inputPhoto" name="photo" accept="image/*">
                    <label class="custom-file-label" for="inputPhoto" id="fileSelector">Choose photo</label>
                </div>
                <div class="newer-row">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Sign up</button>
                </div>
            </form>
            <!--registration form-->
        </div>
    </div>
</div>
<div th:replace="fragments/MyFragments :: footer"></div>

<script type="text/javascript">
    $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $("#fileSelector").text(fileName)

        });
    });
</script>



</body>
</html>
