<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/MyFragments :: header"></head>
<body>
<!-- <div th:replace="fragments/MyFragments :: navbar-fragment"></div> -->
<nav class="navbar navbar-light bg-white navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="#">
        <img src="/images/reap-logo.png" height="30" class="d-inline-block align-top" alt="reap-logo">
    </a>
    <!-- Hide on screens smaller than lg -->
    <span class="navbar-text d-none d-lg-block">
    <span class="reap-text" style="color: #bd3fb4">reward.</span>
    <span class="reap-text" style="color: #004ba1">earn.</span>
    <span class="reap-text" style="color: #f03434">acknowledge.</span>
    <span class="reap-text" style="color: #eacb11">praise</span>
  </span>
</nav>
<div class="container mx-auto my-5 p-4" style="background: #fff; width: 60%;">
    <div th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong th:text="${error}"></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div th:if="${success}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong th:text="${success}"></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div>
        <form>
            <div class="newer-row form-label-group">
                <input type="text" class="form-control" placeholder="Password" required
                       autofocus>
            </div>

            <div class="newer-row form-label-group">
                <input type="text" class="form-control" placeholder="Confirm password" required>
            </div>
            <div class="newer-row">
                <button class="btn btn-success btn-lg btn-block" type="submit">Reset password</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/MyFragments :: footer"></div>
</body>
</html>
