<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/MyFragments :: header">
<body>
<!-- Navbar -->
<div th:replace="fragments/MyFragments :: navBar"></div>
<!-- Content -->
<div th:replace="fragments/UserTableFragment :: userTable" ></div>
<div th:replace="fragments/AdminTableFragment :: adminTable"></div>
<div th:replace="fragments/MyFragments :: footer"></div>



<script>
    $(document).ready(function (e) {
        $("#recognize").submit(function (e) {
            e.preventDefault();
            var form=$(this);
            $.ajax({
                type:'POST',
                url:'/recognizeNewer',
                data:form.serialize(),
                success:function (data) {
                    document.write(data);
                },
                error:function (data) {
                    alert("failed")
                }
            })
        })

        $("#searchRecognition").submit(function (e) {
            e.preventDefault();
            var form=$(this);
            var users=$.ajax({
                type:'POST',
                url:'/searchRecogByName',
                dataType: 'json',
                data:form.serialize(),
                success:function (data) {

                    $("#userdataDiv").empty()
                    console.log(data[0].receiverName);
                    console.log(JSON.stringify(data));
                    data.forEach(function (e) {
                        console.log(e.receiverName)
                        $("#userdataDiv").append("<strong> " + e.receiverName + "</strong> has received " +
                            e.badge +" from "+ e.senderName +" on " + e.date +" for "+e.reason+"<br>")

                    })
                    $("#searchUser").val("");
                }

            })
        })
    })
</script>
</body>
</html>
