<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/MyFragments :: header">
<body>

<!-- Navbar -->
<div th:replace="fragments/MyFragments :: navBar"></div>
<!-- Content -->
<div th:replace="fragments/UserTableFragment :: userTable" ></div>
<div th:replace="fragments/AdminTableFragment :: adminTable"></div>

<div th:replace="fragments/MyFragments :: footer"></div>

<script>
    $(document).ready(function (e) {
        $("#recognize").submit(function (e) {
            e.preventDefault();
            var form=$(this);
            $.ajax({
                type:'POST',
                url:'/recognizeNewer',
                data:form.serialize(),
                success:function (data) {
                    alert("user sucessfully recognized")
                },
                error:function (data) {
                    alert("failed")
                }
                
            })
        })
    })
</script>
</body>
</html>
