<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>REAP</title>
  <link rel="icon" href="images/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="style/style.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-light bg-white navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="#">
    <img src="images/reap-logo.png" height="30" class="d-inline-block align-top" alt="reap-logo">
  </a>
  <!-- Hide on screens smaller than lg -->
  <span class="navbar-text d-none d-lg-block">
    <span class="reap-text" style="color: #bd3fb4">reward.</span>
    <span class="reap-text" style="color: #004ba1">earn.</span>
    <span class="reap-text" style="color: #f03434">acknowledge.</span>
    <span class="reap-text" style="color: #eacb11">praise</span>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span style="color: #fff;" class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Back to Newers World</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-star"></i> Badges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-file-alt"></i> Certificate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-bell"></i> Notifications</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           href="#"
           id="navbarDropdown"><i class="far fa-user-circle"></i></a>
        <div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="navbarDropdown">
          <h5 class="text-center">Your Profile</h5>
          <hr/>
          <div class="row no-gutters">
            <div class="col-md-4 text-center">
              <i style="font-size: 5em;" class="far fa-user-circle"></i>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <small>Name</small>
                </div>
                <div class="col-md-8">Souvik Chakraborty</div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <small>Business Unit</small>
                </div>
                <div class="col-md-8">Technology</div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <small>Region</small>
                </div>
                <div class="col-md-8">Ninjas</div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <small>Email</small>
                </div>
                <div class="col-md-8">souvik.chakraborty@tothenew.com</div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <button type="button" class="btn btn-info btn-block">Guidelines</button>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-danger btn-block">Logout</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- Content -->
<div id="main">
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-header">
          <i class="far fa-star"></i> Recognize Newer
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="far fa-user"></i></div>
                  </div>
                  <input type="text" class="form-control" required placeholder="Select a Newer">
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <select class="form-control" required>
                  <option disabled selected>Select a Badge</option>
                  <option data-thumbnail="images/gold.png" value="2">Gold
                    <small>(6)</small>
                  </option>
                  <option data-thumbnail="images/silver.png" value="4">Silver
                    <small>(4)</small>
                  </option>
                  <option data-thumbnail="images/bronze.png" value="6">Bronze
                    <small>(2)</small>
                  </option>
                </select>
              </div>
              <!--
              <div class="col-md-3 text-center dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="badgeDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select a Badge
                </button>
                <div class="dropdown-menu" aria-labelledby="badgeDropdownMenuButton">
                  <a class="dropdown-item" href="#"><img src="images/gold.png"> Gold <small>(2)</small></a>
                  <a class="dropdown-item" href="#"><img src="images/silver.png"> Silver <small>(4)</small></a>
                  <a class="dropdown-item" href="#"><img src="images/bronze.png"> Bronze <small>(6)</small></a>
                </div>
              </div>
              -->
              <div class="col-md-3 mb-3">
                <select class="form-control" required>
                  <option disabled selected>Select a Karma/Core Value</option>
                  <option value="k-customer-delight">Karma: Customer Delight</option>
                  <option value="k-extra-miler">Karma: Extra Miler</option>
                  <option value="k-knowledge-sharing">Karma: Knowledge Sharing</option>
                  <option value="k-mentorship">Karma: Mentorship</option>
                  <option value="k-pat-on-the-back">Karma: Pat on the Back</option>
                  <option value="cv-continuous-learning-improvement">Core Value: Continuous Learning and Improvement
                  </option>
                  <option value="cv-contribution">Core Value: Contribution</option>
                  <option value="cv-diligence">Core Value: Diligence</option>
                  <option value="cv-empathy">Core Value: Empathy</option>
                  <option value="cv-openness-feedback-change">Core Value: Openness to Feedback and Change</option>
                  <option value="cv-responsible-freedom">Core Value: Responsible Freedom</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="reasonTextArea" style="font-weight: bold;">Reason</label>
                <textarea rows="5" style="resize: none" class="form-control" id="reasonTextArea"
                          placeholder="Please select a karma/core value first"
                          required></textarea>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-md-4">
                <button type="button" class="btn-block btn btn-success">Recognize</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-trophy"></i> Wall of Fame
          <form style="display: inline-block" class="form-inline ml-4">
            <input type="text" class="form-control form-control-sm" id="" placeholder="Search">
            <select class="form-control form-control-sm">
              <option disabled selected>Business Unit</option>
              <option value="b2b-content-marketing">B2B Content Marketing</option>
              <option value="digital-marketing-india">Digital Marketing India</option>
              <option value="social-analytics">Social Analytics</option>
              <option value="technology">Technology</option>
              <option value="ttn-overheads">TTN Overheads</option>
              <option value="ttnv">TTNV</option>
              <option value="vdma">VDMA</option>
              <option value="video-solutions">Video Solutions</option>
            </select>
            <select class="form-control form-control-sm">
              <option disabled selected>Region</option>
              <option value="admin">Admin</option>
              <option value="aryans">Aryans</option>
              <option value="cyborgs">Cyborgs</option>
              <option value="digital-marketing">Digital Marketing</option>
              <option value="finance">Finance</option>
              <option value="human-resources">Human Resources</option>
              <option value="it">IT</option>
              <option value="managed-services">Managed Services</option>
              <option value="management">Management</option>
              <option value="ninjas">Ninjas</option>
              <option value="non-tech-sales">Non-Tech Sales</option>
              <option value="pre-sales">Pre-Sales</option>
              <option value="social-analytics">Social Analytics</option>
              <option value="spartans">Spartans</option>
              <option value="tech-sales">Tech Sales</option>
              <option value="titans">Titans</option>
              <option value="ttn-marketing">TTN Marketing</option>
              <option value="vanguardians">Vanguardians</option>
              <option value="vikings">Vikings</option>
              <option value="vof">VOF</option>
            </select>
            <span class="dropdown">
              <a href="#" role="button" id="dateDropdownLink" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                <i class="far fa-calendar-alt"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dateDropdownLink">
                <a class="dropdown-item" style="text-transform: initial;" href="#">Today</a>
                <a class="dropdown-item" style="text-transform: initial;" href="#">Yesterday</a>
                <a class="dropdown-item" style="text-transform: initial;" href="#">Last 7 days</a>
                <a class="dropdown-item" style="text-transform: initial;" href="#">Last 30 days</a>
              </div>
            </span>
          </form>
        </div>
        <div class="card-body">
          <div class="row newer-row align-items-center">
            <div class="col-sm-2 text-center">
              <i class="far fa-user-circle"></i>
            </div>
            <div class="col-sm-10">
              <p><strong>Divya Arora</strong> has received a <img src="images/gold.png"> from <strong>Kanchan
                Sinha</strong><br/>
                for <em>Karma: Pat on the Back</em><br/>
                because <em>Lorem ipsum dolor sit amet.</em>
              </p>
              <small>1 hour ago</small>
            </div>
          </div>
          <div class="row newer-row align-items-center">
            <div class="col-sm-2 text-center">
              <i class="far fa-user-circle"></i>
            </div>
            <div class="col-sm-10">
              <p><strong>Kanchan Sinha</strong> has received a <img src="images/silver.png"> from <strong>Divya
                Arora</strong><br/>
                for <em>Core Value: Contribution</em><br/>
                because <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et magna dolor. Sed mattis
                  purus eget augue laoreet, id aliquet nibh ullamcorper.</em>
              </p>
              <small>2 hours ago</small>
            </div>
          </div>
          <div class="row newer-row align-items-center">
            <div class="col-sm-2 text-center">
              <i class="far fa-user-circle"></i>
            </div>
            <div class="col-sm-10">
              <p><strong>Dhruv Oberoi</strong> has received a <img src="images/bronze.png"> from <strong>Souvik
                Chakraborty</strong><br/>
                for <em>Core Value: Diligence</em><br/>
                because <em>Praesent elementum pharetra leo rhoncus aliquet. Proin non ex velit. In dignissim, velit at
                  accumsan facilisis, purus metus sagittis nisl, quis consectetur est nisi quis sapien.</em>
              </p>
              <small>3 hours ago</small>
            </div>
          </div>
          <div class="row newer-row align-items-center">
            <div class="col-sm-2 text-center">
              <i class="far fa-user-circle"></i>
            </div>
            <div class="col-sm-10">
              <p><strong>Souvik Chakraborty</strong> has received a <img src="images/bronze.png"> from <strong>Dhruv
                Oberoi</strong><br/>
                for <em>Core Value: Empathy</em><br/>
                because <em>Nam ullamcorper pellentesque enim, in bibendum tortor viverra eget. Vestibulum in neque
                  congue, euismod purus sit amet, dictum erat.</em>
              </p>
              <small>3 hours ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header">
          <i class="far fa-star"></i> My Badges
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-3">
              <i class="far fa-user-circle"></i>
            </div>
            <div class="col-9">
              <strong>Deepika Tiwari</strong><br/>
              <div class="row">
                <div class="col-3">
                  <img src="images/gold.png">
                  <small>0</small>
                </div>
                <div class="col-3">
                  <img src="images/silver.png">
                  <small>0</small>
                </div>
                <div class="col-3">
                  <img src="images/bronze.png">
                  <small>0</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <i class="far fa-calendar-alt"></i> Newers Board
          <small style="text-transform: initial;">(last 7 days)</small>
        </div>
        <div class="card-body">
          <div class="row newer-row justify-content-center">
            <div class="col-3">
              <i class="far fa-user-circle"></i>
            </div>
            <div class="col-9">
              <strong>Divya Arora</strong><br/>
              <div class="row">
                <div class="col-3">
                  <img src="images/gold.png">
                  <small>1</small>
                </div>
                <div class="col-3">
                  <img src="images/silver.png">
                  <small>0</small>
                </div>
                <div class="col-3">
                  <img src="images/bronze.png">
                  <small>0</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row newer-row justify-content-center">
            <div class="col-3">
              <i class="far fa-user-circle"></i>
            </div>
            <div class="col-9">
              <strong>Kanchan Sinha</strong><br/>
              <div class="row">
                <div class="col-3">
                  <img src="images/gold.png">
                  <small>0</small>
                </div>
                <div class="col-3">
                  <img src="images/silver.png">
                  <small>1</small>
                </div>
                <div class="col-3">
                  <img src="images/bronze.png">
                  <small>0</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row newer-row justify-content-center">
            <div class="col-3">
              <i class="far fa-user-circle"></i>
            </div>
            <div class="col-9">
              <strong>Dhruv Oberoi</strong><br/>
              <div class="row">
                <div class="col-3">
                  <img src="images/gold.png">
                  <small>0</small>
                </div>
                <div class="col-3">
                  <img src="images/silver.png">
                  <small>0</small>
                </div>
                <div class="col-3">
                  <img src="images/bronze.png">
                  <small>1</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row newer-row justify-content-center">
            <div class="col-3">
              <i class="far fa-user-circle"></i>
            </div>
            <div class="col-9">
              <strong>Souvik Chakraborty</strong><br/>
              <div class="row">
                <div class="col-3">
                  <img src="images/gold.png">
                  <small>0</small>
                </div>
                <div class="col-3">
                  <img src="images/silver.png">
                  <small>0</small>
                </div>
                <div class="col-3">
                  <img src="images/bronze.png">
                  <small>1</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
